@font-face {
  font-family: 'NorseBold';
  src: url('font/Norsebold.otf') format('opentype');
}


h1{
    font-size: 1.5rem;
    
}

body, input, label {
  font-family: 'Lato', sans-serif;
}

:root{
    --green-color:#596D48;
    --light-border:#E5E7EB;
    --red-border: rgb(139, 0, 0);
    --blue-border: rgb(42, 42, 228);
    --transparent-color: rgb(65, 65, 65);
    --dark-white: #f0efef;
    --marble-white: #ffffff;
}

.container{
    display: flex;
}

img{
    max-width:100%;
    height:auto;
}


/*
Sidebar
*/

.sidebar{
    width: 40vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.plant{
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    max-width: 100%;
}

.transparent{
    width: 100%;
    position: absolute;
    top:10vw;
    left: 0;
    background-color: var(--transparent-color);
    max-width: 100%;
    height: 10vw;
    opacity: 0.4;
}

.logo{
    position: absolute;
    height:min(10vw, 100%);
    display: flex;
    top: 10vw;
    
}

.odin-logo{
    
    opacity: 1;
    height:min(10vw, 100%);
    align-self: center;
    
}

.odin-text{
    font-size: 8rem;
    font-family: 'NorseBold';
    color: white;
    align-self: center;
    
}

.credit{
    position: absolute;
    bottom: min(10px, 1rem);
    color: white;
    font-weight: 300;
}

/*
Form Part
*/

.page{
    font-family: 'Roboto', sans-serif;
    background-color: var(--dark-white);
    width: 60vw;
    display: flex;
    flex-direction: column;
   
}

.text{
    display: flex;
    flex-direction: column;
    font-size: 6rem;
    padding-top: 10vh;

    padding-left: 3vw;
    padding-right: 3vw;
}

/* 
Form Itself
*/

.form{
    display: flex;
    flex-direction: column;
    margin-top: 0;
   
}


legend {
  width: 100%;       /* takes its own row */
  font-size: 2rem;
  margin-bottom: 0.5vh; /* space between legend and fields */
  margin-top: 2vh;
  padding-top: 10vh;
}

fieldset {
  border: none;
  background-color: var(--marble-white);
  padding-top: 3vh;
  padding-bottom: 4vh;
  padding-left: 3vw;
  padding-right: 3vw;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,0.5); 
  display: flex;
  flex-wrap: wrap;
  gap: 2vh 4vw;

}


.question{
    display: flex;
    flex-direction: column;
    width: 30%; 
    gap: 10px 0px;
}

label{
    font-size: 0.8rem;
    color: var(--transparent-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
}

input{
    background-color: var(--dark-white);
    border: 3px solid var(--light-border);
    outline: none;
    border-radius: 5px; 
    height: min(25px, 1.5rem);  

}

.footer{
    padding-top: 3vh;
    padding-left: 3vw;
}
button{
    border: none;
    padding: 1rem 2rem;
    background-color: var(--green-color);
    border-radius: 10px;
    color:white;
    box-shadow: 5px 5px 10px 2px rgba(133, 133, 133, 0.5); 
    font-size: 1rem;
    font-weight: 700;
    
}
h3{
    font-size: 1rem;
}
h3 span{
    color: var(--green-color);
    
}

